
#paint {
    background-color: #000000;
}

#toolset {
    width     : 100px;
    height    : 440.5px;
    position  : absolute;
    left      : 0px;
    top       : 50px; 
    border: 2px solid #303030;
    background: #303030;
}

#paint {
    position  : absolute;
    left      : 130px;
    top       : 50px;
}

#lineWidthTitle {
    font-family: sans-serif;
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
}

#pixel_plus {
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
}

#pixel_minus {
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
    margin-left: 20px;
}

#predictButton {
    font-family: sans-serif;
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
}

#penciltool {
    font-family: sans-serif;
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
}

#erasertool {
    font-family: sans-serif;
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
}

#resettool {
    font-family: sans-serif;
    background: blue; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid blue;
}   

#pred_result {
    margin-left: 900px;
    text-align: center;
}